body{background-color: #1C1C1C;
	font-family: arial, sans-serif;
	

	}
	
	header, footer{
		background-color: rgba(105,105,105);
		padding: 0.5%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.5em;
		font-weight: bolder;

	}

	

	.menuopcoes{
		text-align: center;
	}


	.fixo{
		position: fixed;
		top: 0;
		right:0;
		left: 0;
		z-index: 1030;
	}

	.ajustes{
		line-height: 1;
		text-align: center;
	}

	.ajustes li:hover{
		background-color: #708090;
		color: blue;
	}


	.container{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#sobre{

		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin:0 auto;

	}
	#sobre .sobre{
		text-align: center;
	}

	#galeria{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin:2px 2px;		
	}
	#galeria .galeria{
		margin: 4px 4 px;
	}

	.imgsobre{
		width: 20%;
		height: 20%;
	}





	h1{
		font-size: 1.9em;
		font-family: 'Bangers', cursive;
		text-shadow: 2px 2px 5px white;
		text-align: center;
}

	


	.titulos{color: #fff;
		text-align: center;
		font-style: italic;


	}

	p{
		color: #fff;
		font-size: 1.2em;
		font-weight: bold;
		margin-top: 5%;
		margin-bottom: 5%;
		}
		


	.listasetextos{
		text-decoration: underline;
		color: #fff;
		font-weight: bolder;
		margin-top: 5%;
		margin-bottom: 5%;
		font-size: 1em;

	}


	.imgtexto{
		border: 5px dashed #fff;
		width: 40%;
	}

	.fundo{
		background:#696969;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding: 3%;
		font-size: 1.2em;
	}

	.distancia{
		margin-top: 2%;
		margin-bottom: 2%;

	}

	input[type=text], select, textarea{
		width: 85%;
		padding: 12px 20px;
		display: inline-block;
		border-radius: 70px;

	}
	input[type=submit] {
  width: 100%;
  background-color:#D2691E;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 70px;
  cursor: pointer;
}




	a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

table{
  
  border-collapse: collapse;
  width: 100%; 
}
td, th{
	border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.centro{

		text-align: center;


#rcorners1 {
  border-radius: 25px;
  background: #808080;
  padding: 20px; 
  width: 200px;
  height: 150px;
  margin-left: auto;
margin-right: auto;

}

.item{

	position: relative;
	margin: 10px 0px;
}

.item::before{
content: ;
position:relative;
left: 0;
top:0;
padding: 10px 15px;
background-image:url("../img/img.png");
}

 
	@media screen and (max-width: 599px){
		.container{
			margin-top: 65%;
		}
	}


@media screen and (min-width: 600px){
	.container{
		margin-top: 40%;
	}
}



@media screen and ( min-width: 768px){
	.container{
		margin-top: 20%;}
	header{
		background-color: rgba(105,105,105);
		flex-direction: row;
		position: relative;
		height: 100px;
	}
}	

	.menuopcoes{
		position: absolute;
		right: 5%;
		top: 45;
	}
}
	ul li ol li {
		display: inline;
		margin-left: 10px;
	}
}

	#sobre{
		flex-direction: row;
		flex-wrap: wrap;
	}
}

	#sobre{
		width: 100%;
		text-align: center;
	}
}

	#sobre .sobre{
		width: 25%;
		text-align: center;
	}



	
}
